body{
  margin:0;
  font-family:Arial;
  background:#f2f4f8;
}

.header{
  background:#2575fc;
  color:white;
  padding:15px;
  text-align:center;
  font-weight:bold;
}

.content{
  padding:15px;
  margin-bottom:70px;
}

.card{
  background:white;
  padding:15px;
  margin-bottom:10px;
  border-radius:10px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  background:white;
  display:flex;
  justify-content:space-around;
  padding:10px 0;
  border-top:1px solid #ddd;
}
